<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hci.laughtr">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TeensMood"
            android:parentActivityName=".StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreen" />
        </activity>

        <activity android:name=".KidsMood"
            android:parentActivityName=".StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreen" />
        </activity>

        <activity android:name=".ToddlerMood"
            android:parentActivityName=".StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreen" />
        </activity>

        <activity android:name=".LaughScreen"
            android:parentActivityName=".KidsMood">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KidsMood" />
        </activity>

        <activity android:name=".LaughCountDown"
            android:parentActivityName=".KidsMood">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KidsMood" />
        </activity>

        <activity android:name=".AnalysisScreen"
            android:parentActivityName=".StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreen" />
        </activity>

        <activity android:name=".KidsMood2"
            android:parentActivityName=".StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreen" />
        </activity>


        <activity android:name=".TeensMood2"
            android:parentActivityName=".StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreen" />
        </activity>

        <activity android:name=".ToddlerMood2"
            android:parentActivityName=".StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreen" />
        </activity>

    </application>

</manifest>